<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsinventiv.mrapplianceadmin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name="com.appsinventiv.mrapplianceadmin.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Services.AddService"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Services.ListOfServices"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Services.AddSubService"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Services.ListOfSubServices"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.TimeSlotManagement.TimeSlotList"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Coupons.ListOfCoupons"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Customers.ListOfCustomers"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Customers.ViewCustomer"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Coupons.AddCoupon"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Orders.Orders"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Orders.ViewOrder">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="Mr Appliance.services"
                    android:pathPrefix="/admin"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.ViewInvoice"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.ListOfBills"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.ViewServicePictures"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Orders.ModifyOrder"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.ExportOrders"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.AppSettings"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.PicturesSlider"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Servicemen.ListOfServicemen"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Servicemen.AddServicemen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.ChangePolicy"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.appsinventiv.mrapplianceadmin.Notifications.SendNotification" />
        <activity android:name="com.appsinventiv.mrapplianceadmin.Notifications.NotificationHistory" />
        <activity android:name="com.appsinventiv.mrapplianceadmin.Activities.Reports.ReportsActivity" />
        <activity android:name=".Activities.OrderLogs.SolutionTracking" />
        <activity android:name=".Activities.ViewQuotation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activities.CustomOrder.CustomOrderActivity" />
        <activity android:name=".Activities.ChatManagement.ListOfChats" />
        <activity android:name=".Activities.ChatManagement.LiveChat" />

        <service android:name="com.appsinventiv.mrapplianceadmin.Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.appsinventiv.mrapplianceadmin.Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.appsinventiv.mrapplianceadmin.provider.GenericFileProvider"
            android:authorities="com.appsinventiv.mrapplianceadmin.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>